// *****************
// Colors
// *****************

$white: #ffffff;
$alto: #d6d6d6;
$dusty-gray: #979797;
$slate-gray: #6d7893;
$salt-box: #6b696c;
$ship-gray: #414042;
$turquoise: #50e3b3;
$cloud-burst: #24345c;
$big-stone: #182545;
$black: #000000;

// *****************
// Colors
// *****************