// *****************
// Typography
// *****************

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600|Open+Sans:300,400|Source+Sans+Pro&display=swap');

$montserrat: 'Montserrat',
sans-serif;

$open-sans: 'Open Sans',
sans-serif;

$source-sans-pro: 'Source Sans Pro',
sans-serif;

.w300 {
    font-weight: 300;
}

.w500 {
    font-weight: 500;
}

.w600 {
    font-weight: 500;
}

// *****************
// Typography
// *****************