@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html,
body {
    font-family: 'Roboto', sans-serif;
    color: #9d0a1c!important;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width: 280px;
    height: 100%;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none!important;
}

hr {
    margin-top: 2px;
}

button:focus,
input:focus,
select:focus {
    box-shadow: none!important;
    outline: none!important;
}

.row {
    margin: 0;
}

.col {
    width: 100%;
}

.clr {
    clear: both;
}

.active {
    color: #9d0a1c!important;
}

.hide {
    display: none;
}

header #header-top {
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
    border-bottom: 2px solid #9d0a1c;
}

header nav#header-top.navbar.navbar-expand-sm {
    padding: 0 15px;
    justify-content: flex-start;
}

header nav#header-top .navbar-toggler {
    padding: 0;
    padding-right: 10px;
}

header nav#header-top .navbar-toggler-icon {
    background: url('../img/menu-4-24.png') center center no-repeat;
}

header nav#header-top .navbar-brand {
    font-size: 30px;
    color: #9d0a1c;
    padding: 0;
    margin: 0;
}

header nav#header-top ul.navbar-nav {
    padding-left: 3px;
}

header nav#header-top ul.navbar-nav li a {
    color: #9d0a1c;
}

header nav#header-top .header-right {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 15px;
}

header nav#header-top .header-right ul.navbar-nav {
    display: block;
    padding: 0;
}

header nav#header-top .header-right ul.navbar-nav li {
    display: inline-block;
}

header nav#header-top .header-right ul.navbar-nav li a {
    padding: 0 5px;
}

header nav#header-top .header-right img {
    width: 30px;
    height: 30px;
}

header nav#header-top span.badge.badge-default {
    font-size: 14px;
    padding: 0;
    vertical-align: middle;
    font-weight: normal;
    padding-left: 5px;
    color: #000000;
}

header nav#header-top .nav-item.notification {
    position: relative;
}

header nav#header-top .nav-item.notification .badge {
    background-color: #9d0a1c;
    color: #ffffff;
    font-size: 8px;
    border-radius: 50%;
    padding: 2px 4px;
    position: absolute;
    top: 3%;
    left: 20%;
}

header #header-bottom ul {
    background-color: #eeeeee;
    margin: 0;
    padding: 20px 18px;
    display: block;
}

header #header-bottom ul li {
    list-style: none;
    padding: 0;
    display: inline-block;
}

header .nav-item.dropdown,
header #search {
    border: 1px solid #9d0a1c;
}

header #header-bottom a.nav-link.dropdown-toggle {
    color: #9d0a1c;
    padding: 3px 5px;
    margin: 0;
}

header #header-bottom .dropdown-toggle::after {
    vertical-align: 3px;
}

header #header-bottom .dropdown-menu a.dropdown-item {
    color: #9d0a1c;
    padding-left: 10px;
}

header #header-bottom .nav-item #search {
    color: #9d0a1c;
    padding: 3px 5px;
    width: 100%;
}

header #header-bottom #search {
    background-color: transparent;
    background: url('../img/search.png') right center no-repeat;
    background-size: 24px;
    background-position: 95% 50%;
    padding-left: 20px;
}

header #header-bottom #search::placeholder {
    color: #9d0a1c;
}

header #header-bottom #search:focus {
    background-image: none;
}

#content {
    padding: 20px 0;
}

#content h4 {
    font-size: 18px;
}

#content .left .item {
    margin-bottom: 20px;
}

#content .left .item img.image {
    vertical-align: top;
    width: 40%;
    height: 85px;
}

#content .left .item .text-image {
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
}

#content .left .item .text-image img {
    width: 40%;
}

#content .right {
    padding-top: 40px;
    color: #ffffff;
}

#content .right .item {
    float: right;
    background: url("../img/2.jpg") center center no-repeat;
    background-size: 100% 100%;
    text-align: center;
    width: 85%;
    height: 60px;
    margin-bottom: 15px;
}

#content .right .item .text {
    text-transform: uppercase;
    word-spacing: 1px;
    text-align: center;
}

#content .right .item .text span.first {
    display: block;
    font-size: 6px;
    line-height: 6px;
}

#content .right .item .text span.second {
    display: block;
    font-size: 7.5px;
    line-height: 7.5px;
}

#content .right .item .text span.model {
    display: block;
    font-size: 20px;
    line-height: 16px;
}

#content .right #vote-1,
#content .right #vote-2 {
    padding: 2px 20px 1px;
    margin: 0;
    background-color: transparent;
    color: #ffffff;
    font-size: 6px;
    font-weight: bold;
    border: 1px solid #ffffff;
}

#content .right #vote-1:hover,
#content .right #vote-2:hover {
    color: #9d0a1c;
    background-color: #ffffff;
}

#content .right #vote-1:focus,
#content .right #vote-2:focus {
    box-shadow: none;
}

#content .right .item.bottom {
    background: url("../img/1.jpg") center center no-repeat;
    background-size: 100% 100%;
    text-align: center;
    width: 85%;
    height: 60px;
    margin-bottom: 15px;
    position: relative;
}

#content .right .item.bottom img {
    position: absolute;
    top: 35%;
    left: 45%;
}

footer {
    padding-top: 20px;
    padding-bottom: 0;
    text-align: center;
    background-color: #ebebeb;
}

footer .footer-top h6 {
    color: #4a4c49;
    display: inline-block;
    font-weight: bold;
}

footer .footer-top ul {
    padding-left: 0;
}

footer .footer-top ul li {
    list-style-type: none;
    padding: 0 0 10px;
}

footer .footer-top ul li a {
    color: #4a4c49;
}

footer .footer-top .align-middle {
    display: inline-block;
}

footer .footer-top .newsletter {
    text-align: center;
}

footer .footer-top .newsletter ul {
    width: 60%;
    margin: 0 auto;
}

footer .footer-top .e-mail {
    color: #C0C0C0;
}

footer .footer-top input#newsletter,
footer .footer-top #btn-arrow {
    color: #9d0a1c;
    border-bottom: 1px solid #4a4c49!important;
    background-color: transparent;
    font-size: 12px;
}

footer .footer-top .qr-code {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
}

footer .footer-top input#newsletter {
    font-size: 12px;
}

footer .footer-top .advertise {
    background-color: transparent;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer .footer-top .advertise a {
    font-weight: bold;
    color: #9d0a1c!important;
    background-color: transparent;
    padding: 5px 50px;
    border: 2px solid #9d0a1c;
}

footer .footer-top .advertise a:hover {
    color: #ffffff!important;
    background-color: #9d0a1c;
    transition: 0.3s;
}

footer .footer-social {
    background-color: #9d0a1c;
    padding: 2px 0;
}

footer .footer-social ul.nav.nav-pills {
    display: flex;
    justify-content: center;
}

footer .footer-social ul.nav.nav-pills li {
    padding-bottom: 0;
}

footer .footer-social ul.nav.nav-pills a {
    padding: 0 8px;
}

footer .footer-social ul.nav.nav-pills a:hover {
    opacity: 0.5;
}

footer .footer-social ul.nav.nav-pills a img {
    width: 16px;
    height: 16px;
}

footer .footer-bottom {
    font-size: 10px;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 20px;
}

footer .footer-bottom .justify-content-center {
    color: #000000;
}

footer .footer-bottom .footer-all-rights {
    background-color: #ffffff;
}

footer .footer-bottom .logo-footer:hover {
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}

@media (max-width: 575px) {}

@media (min-width: 576px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}
