@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html,
body {
    font-family: 'Roboto', sans-serif;
    color: #9d0a1c!important;
    margin: 0 auto;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    width: auto;
    max-width: 100%;
    cursor: pointer;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none!important;
}

hr {
    margin-top: 2px;
}

button:focus,
input:focus {
    box-shadow: none!important;
    outline: none!important;
}

.container {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.clr {
    clear: both;
}

header {
    border-bottom: 2px solid #9d0a1c;
    height: 70px;
}

header nav a.navbar-brand {
    font-size: 30px;
    color: #9d0a1c!important;
}

header nav .dropdown-toggle::after {
    vertical-align: 3px!important;
}

header nav .nav-item.dropdown,
header nav #search {
    border: 1px solid #9d0a1c;
}

header nav .nav-item {
    display: inline-block;
}

header nav .nav-item a,
header nav #search {
    color: #9d0a1c!important;
    padding: 3px 5px!important;
}

header nav .nav-item #search {
    width: 80%;
    margin-right: 10px;
}

header nav #search {
    background-color: transparent;
    background: url('../img/search.png') right center no-repeat;
    background-size: 24px;
    background-position: 95% 50%;
}

header nav #search::placeholder {
    color: #9d0a1c;
}

header nav #search:focus {
    background-image: none;
}

header nav a.dropdown-item:hover {
    color: #ffffff!important;
    background-color: #9d0a1c;
}

header nav .nav-item img {
    width: 32px;
}

header nav .notification {
    position: relative;
}

header nav #notification.badge {
    text-align: center;
    font-size: 11px;
    background-color: #9d0a1c;
    color: #ffffff;
    border-radius: 10px;
    padding: 2px 4px;
    position: absolute;
    top: 5%;
    left: 20%;
}

header nav .nav-item.dropdown.profile {
    border: none;
}

header nav .dropdown-menu.profile {
    position: absolute;
    right: 0;
    left: auto;
    -webkit-box-shadow: 0px 20px 100px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 20px 100px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 20px 100px -20px rgba(0, 0, 0, 0.75);
}

header nav .dropdown-menu.profile a.dropdown-item {
    padding: 15px 0 10px 25px!important;
    color: #4a4c49!important;
}

header nav .dropdown-menu.profile a.dropdown-item:hover {
    background-color: transparent;
    color: #9d0a1c!important;
}

header nav .dropdown-menu.profile .dropdown-item {
    padding: 15px 0 10px 25px!important;
}

header nav .dropdown-menu.profile .dropdown-item.logout {
    border-top: 3px solid #9d0a1c;
    padding-left: 15px!important;
}

header nav .dropdown-toggle.profile::after {
    display: none;
}

#content {
    margin-bottom: 50px;
}

#content #main-img {
    position: relative;
    height: 600px;
}

#content .main-img img {
    width: 100%;
    height: 600px;
}

#content .play {
    position: absolute;
    left: 50%;
    top: 45%;
}

#content .follow-me {
    position: absolute;
    width: 25%;
    left: 0;
    bottom: 0;
    height: 40px;
    padding: 10px 0 7px;
    margin: 0;
    color: #ffffff;
    text-align: center;
    background-color: #9d0a1c;
    -webkit-box-shadow: -7px 7px 30px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 7px 30px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 7px 30px -10px rgba(0, 0, 0, 0.75);
}

#content .credits {
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 25%;
    height: 40px;
    text-align: center;
}

#content .credits img {
    position: absolute;
    left: 50%;
    bottom: 5%;
    width: 8%;
    padding: 3px;
    background-color: #000000;
    border: 3px solid #b5b5b5;
    border-radius: 50%;
}

#chat {
    color: #ffffff;
    position: relative;
    display: inline-block;
    background-color: #9d0a1c;
    width: 75%;
    height: 600px;
    -webkit-box-shadow: 0px 40px 50px -40px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 40px 50px -40px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 40px 50px -40px rgba(0, 0, 0, 0.75);
}

#chat .private {
    display: block;
    width: 95%;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 2px 5px;
    margin-bottom: 20px;
}

#chat .private::placeholder {
    font-size: 13px;
    color: #ffffff;
    font-style: italic;
}

#chat .private:active::placeholder,
#chat .private:focus::placeholder {
    color: transparent;
}

#chat .chat-top {
    height: 525px;
    margin: 10px 10px 25px;
    font-size: 12px;
    overflow-y: auto;
}

#chat .chat-top::-webkit-scrollbar {
    display: none;
}

#chat .chat-top span {
    font-size: 11px;
}

#chat .chat-top img {
    width: 45px;
    height: 45px;
    margin-right: 5px;
}

#chat .chat-top .chat-row {
    margin-bottom: 35px;
}

#chat .chat-top .chat-row:last-child {
    margin-bottom: 0;
}

#chat .chat-top img.float-right {
    margin: 0;
    margin-left: 5px;
}

#chat .chat-bottom {
    position: relative;
    height: 40px;
    background-color: #9d0a1c;
    padding: 10px;
    padding-left: 15px;
    padding-right: 5px;
    -webkit-box-shadow: 0px -20px 100px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -20px 100px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -20px 100px -10px rgba(0, 0, 0, 0.75);

}

#chat .chat-notification {
    position: absolute;
    left: 5%;
    bottom: 75%;
    padding: 1px 7px;
    font-size: 12px;
    text-align: center;
    background-color: #9d0a1c;
    border: 3px solid #ffffff;
    border-radius: 50%;
}

#chat .chat-left {
    float: left;
    height: 100%;
}

#chat .chat-icon {
    float: right;
    height: 100%;
}

#chat .chat-icon img {
    padding: 0 5px;
    width: 25%;
}

#right-side {
    display: inline-block;
    border-left: 1px solid #000000;
    background-color: #9d0a1c;
    text-align: center;
    width: 25%;
}

#right-side #chat-img {
    text-align: center;
    height: 535px;
    margin: 10px 0 15px;
    overflow-y: auto;
}

#right-side #chat-img::-webkit-scrollbar {
    display: none;
}

#right-side #chat-img .item {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    padding: 3px 10px;
}

#right-side #chat-img .item:last-child {
    margin-bottom: 0;
}

#right-side #chat-img .item img {
    width: 45px;
    height: 45px;
}

#right-side #chat-img .item:hover {
    opacity: 0.8;
    background-color: #b43b50;
}

#right-side #btn-hide {
    height: 40px;
}

#right-side #btn-hide button {
    text-align: left;
    width: 100%;
    height: 100%;
    background-color: #9d0a1c;
}

#content .chat-text-bottom {
    font-size: 12px;
    color: #B8B8B8;
}

footer {
    border-top: 5px solid #ffffff;
    background-color: #ebebeb;
    padding: 20px 0;
}

footer h6 {
    margin-bottom: 20px;
    font-weight: bold;
}

footer ul {
    padding-left: 0;
}

footer li {
    list-style-type: none;
    padding: 0 0 10px;
}

footer li a {
    color: #795442;
}

footer li a:hover {
    color: #9d0a1c;
    transition: 0.3s;
}

footer .footer-social {
    background-color: #9d0a1c;
    padding: 2px 0;
}

footer ul.nav.nav-pills {
    display: flex;
    justify-content: center;
}

footer ul.nav.nav-pills li {
    padding-bottom: 0;
}

footer ul.nav.nav-pills a {
    padding: 0 8px;
}

footer ul.nav.nav-pills a:hover {
    opacity: 0.5;
}

footer ul.nav.nav-pills a img {
    width: 16px;
    height: 16px;
}

footer .newsletter {
    color: #C0C0C0;
}

footer input#newsletter,
footer #btn-arrow {
    color: #9d0a1c;
    border-bottom: 1px solid #4a4c49!important;
    background-color: transparent;
}

footer .qr-code {
    width: 60px;
    background-color: #ffffff;
}

footer .advertise {
    background-color: #ffffff;
    text-align: center;
    padding: 30px 0;
    font-weight: bold;
}

footer .advertise a {
    text-align: center;
    color: #9d0a1c;
    background-color: #ffffff;
    padding: 5px 50px;
    border: 2px solid #9d0a1c;
}

footer .advertise a:hover {
    color: #ffffff;
    background-color: #9d0a1c;
    transition: 0.3s;
}

footer .footer-bottom {
    text-align: center;
    font-size: 11px;
    color: #4a4c49;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .footer-all-rights {
    font-size: 11px;
    text-align: center;
    background-color: #ebebeb;
}

footer .logo-footer:hover {
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}

@media (max-width: 575px) {}

@media (min-width: 576px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}
